name: Publish to PyPI on GitHub Release

on:
  release:
    types: [ published ]

env:
  UV_PYTHON_DOWNLOADS: 0

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    permissions: { }
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: python-package-distributions
          path: dist/*

  publish:
    name: Publish to PyPI (OIDC)
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: python-package-distributions
          path: dist/

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Publish
        run: uv publish
